body {
    background: url('nohat_upscaled_x4_d0b0106ba23f4c11.jpeg'); background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h2{
    background: url("ac061cbff9ab548adb98b4d71936f443.jpeg");
    background-size: contain;
    background-clip: text;
    color: transparent;
    font-size: 35px;
}

p{
    color:lightskyblue;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p1{
    color: #000000;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p2{
    font-size: 25px;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav {
  display: flex;
  align-items: center;
  background: #111133;
  padding: 15px 30px;
}

nav h1 {
  color: #fff;
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #aaa;
  transition: 0.3s;
}

nav a:hover {
  color: #31059f;
}


.container {
  padding: 60px 20px;
  text-align: center;
}

.video-container {
  display: flex;
  justify-content: center;
}


.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #50506d;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card:hover {
  transform: scale(1.05);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  gap: 15px;
}

input, textarea {
  padding: 10px;
  border-radius: 8px;
  border: thick double #32a1ce;
  outline: none;
  font-size: 16px;
}

textarea {
  resize: none;
  height: 120px;
}

button {
  padding: 12px;
  color: #fff;
  background: #32a1ce;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #134e67;
}


